<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <center>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-sm-offset-3">
                    <br><br>
                    <h2 style="color:#0fad00">Success</h2>
                    <img src="http://osmhotels.com//assets/check-true.jpg">
                    <div id='card' class="animated fadeIn">
                        <div id='upper-side'>
                            <i class="fa fa-check"></i>
                            <h3 id='status'> Success </h3>
                        </div>
                        <div id='lower-side'>
                            <p id='message'>
                                Congratulations, your account has been successfully created.
                            </p>
                        </div>
                    </div>
                    <p style="font-size:20px;color:#5C5C5C;">Thank you for verifying your email.<br> click button to
                        login.</p>
                    <a href="/login" class="btn btn-success">     Log in     </a>
                    <br><br>
                </div>

            </div>
        </div>
    </center>

</body>

</html>